html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url('asset/Ghibli\ World_waifu2x_art_noise1_scale.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.apps-wrapper {
    padding: 20px;
}

.app {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

.app-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.baca-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.app:hover {
    background-color: rgba(40, 19, 162, 0.1);
    cursor: pointer;
    border-radius: 5px;
}

.widget-wrapper {
    padding: 20px;
}

.time {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.date {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 4px;
}

.note-wrapper {
    margin-top: 20px;
    background-color: antiquewhite;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}

.image-widget {
    margin-top: 20px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.music-player {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: brown;
    color: white;
}